# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.venv/
venv/
env/
ENV/
pyvenv.cfg

# IDE/editor
.vscode/
*.swp
.DS_Store

# Secrets
.env

# Databases
*.db
eon.db

# Logs / temp
*.log
*.tmp