# Entorno virtual
venv/
.venv/

# Bytecode y cachés
__pycache__/
*.py[cod]
*.pyc

# Archivos sensibles
.env

# Bases de datos locales (si no quieres versionar eon.db)
*.db

# Sistema / editor
.DS_Store
*.swp